<option value=""> -- choose one -- </option>
<option value="Dhaka">Dhaka</option>
<option value="SH">Shariatpur</option>
<option value="Gazipur">Gazipur</option>
<option value="Tangail">Tangail</option>