<option value=""> -- choose one -- </option>
<option value="Dhaka">Dhaka</option>
<option value="Khulna">Khulna</option>
<option value="Rajshahi">Rajshahi</option>
<option value="Sylhet">Sylhet</option>