#basic {
  font-family: 'Ubuntu', sans-serif; }

#div {
  color: #00ffff; }
  #div .inactive {
    background: #f0f0f0;
    color: #ccc; }

.active {
  border: 1px solid #000; }

/*# sourceMappingURL=basic.css.map */
