/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 18, 2017, 12:19:44 PM
    Author     : rubel_000
*/

@import url('another.css');



body {
    background: #f00;
}

body {
                /*background: #fff;*/
                font: 14px sans-serif;
                padding: 20px;
            }   

            #thumb {
                width: 200px;
                height: 200px;
                background: #fff;
                padding: 20px;
                margin: 20px auto;
                box-shadow: 2px 2px 2px 2px #ccc;
                position: relative;

            }

            #thumb:before {
                z-index: -1;
                position: absolute;
                left: -5px;
                top: 4px;
                content: '';
                width: 100%;
                height: 100%;
                background-color: #ddd;
                border-radius: 5px;

                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);

                transform: rotate(3deg);
            }

            #thumb:after {
                z-index: -2;
                position: absolute;
                right: -3px;
                top: 1px;
                content: '';
                width: 100%;
                height: 100%;
                background-color: #aaa;

                -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

                -webkit-transform: rotate(357deg);
                -moz-transform: rotate(357deg);
                -o-transform: rotate(357deg);
                -ms-transform: rotate(357deg);
                transform: rotate(357deg);

                border-radius: 5px;
            }
	    


	    @media(max-width: 800px) {
		
		body {
		    background: #0f0;
		}
		
	    }
	    
	    @media (max-width: 1000px) {
		body {
		    background: #00f;
		}
	    }